name: TEST Pipeline

on:
  push:
    branches: ["test"]

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Run TEST pipeline
        run: echo "TEST environment triggered!"
